* {
    display: inline-block;
}

.header {
    height: 150px;
    width: 1920px;
}

h3 {
    top: 50vh;
}

h4 {
    color: white;
    position: relative;
    margin-left: 5px;
    bottom: 12.5px;
}

img {
    margin-left: 30px;
}