.eventlist {
    width: 52vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow:visible;
}