@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@mixin test {
    width: 300px;
    height: 200px;
}

@font-face {
  font-family: 'gothambold1';
  src: url(/assets/GothamBold.ttf) format('truetype');
}

@font-face {
  font-family: 'gothambold2';
  src: url(/assets/gothambold.woff2) format('woff2'),
       url(/assets/gothambold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    background-color: #001b59;
    background-image: url(assets/bg-element-new.png), url(assets/bg-element-big-2.png), url(assets/bg-element-big-3.png), url(assets/bg-element-big-1.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position-x: center, -20vw, 100%, 100%;
    background-position-y: center, 0%, 0%, -50%;
    background-attachment: fixed, fixed, fixed, fixed;
    background-size: 700px 700px, 1500px 1800px, 845px 2066px, 2114px 423px;

    overflow-x: hidden;
}

div {
  overflow: hidden;
}
.logo
{
    background-image: url(assets/groupuplogo.png);
    background-size: 500px 500px;
    width: 500px;
    height: 500px;
}

.logo-mini
{
    background-image: url(assets/newlogo.png);
    background-size: 250px 250px;
    width: 250px;
    height: 250px;
    position: fixed;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
}

.login-container
{
    background-image: url(assets/login-container.png);
    background-size: 300px 150px;
    width: 300px;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
}

.panel
{
    width: 48vw;
    height: 150px;
    background-color: white;
    border-radius: 25px;

    background-image: url(assets/modihexa.png);
    background-position: right bottom;
    background-repeat: repeat-y;
    background-size: 200px 200px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6
{
  font-family: 'gothambold1', sans-serif;
}

.text-input
{
  height: 40px;
  border-radius: 8px;
  font-size: 20px;
}

.textarea-input
{
  border-radius: 8px;
  font-size: 20px;
}

a:hover, a:visited {
    color: white;
    outline: none;
}
  
  .btn {
    display: block;
    height: 50px;
    width: 180px;
    max-width: 180px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    
    &:after {
      position: absolute;
      content:'';
      display: inline-block;
      background: rgba(59,173,227,1);
      background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
      height: 50px;
      width: 372px;
      z-index: 0;
      transform: translateX(-280px);
      transition: transform 400ms ease-in-out;
    }
    
    &:hover {
        cursor: pointer;
      &:after {
        transform: translateX(-200px);
      }
    }
    span {
      position: relative;
      top: 16px;
      z-index: 1;
    }
}

.lexend {
    font-family: 'Lexend Deca', sans-serif;
}

.loading {
  position: absolute;
  background-image: url(assets/loading.gif);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loading-box {
  position: absolute;
  background-image: url(assets/loading.gif);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 8px #292929;
  background-color: white;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

a {
  color: white;
}

.not-supported {
  display: none;
  color: black;
}

.new-event
{
    background-image: url(assets/newevent.png);
    background-size: 175px 175px;
    width: 175px;
    height: 175px;
    position: fixed;
    bottom: 0;
    right: 0;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

  .logo-mini
  {
      background-image: url(assets/newlogo.png);
      background-size: 125px 125px;
      width: 125px;
      height: 125px;
      position: fixed;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
  }

  body {
    background-color: #001b59;
    background-image: url(assets/bg-element-new.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 300px 300px;
  }

  .login-container
  {
    width: 250px;
    height: 50px;
  }

  h1, h2, h3, h4, h5, h6
{
  font-family: 'Lexend Deca', sans-serif;
}

.new-event {
  display: none;
}
}
